// see https://github.com/pmarsceill/just-the-docs/blob/master/_sass/layout.scss

//
// Full-width Layout
//

.side-bar {

  @include mq(lg) {
    width: 0;
    min-width: $nav-width;
  }
}

.main {

  @include mq(lg) {
    width: 100%;
    max-width: calc(100% - #{$nav-width});
    margin-left: $nav-width;
  }

  .main-content-wrap {

    .main-content {

      @include mq(lg) {
        max-width: $content-width;
        margin: 0 auto;
      }
    }
  }
}


//
// Style Overrides
//

.site-title {

  @include mq(lg) {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .site-logo {
    background-position: center;
  }
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
  background: $feedback-color;
}

.search-result:hover,
.search-result.active {
  background-color: $sidebar-color;
}

.nav-list .nav-list-item > .nav-list {
  padding-left: 0;

  > .nav-list-item {
    margin-left: $sp-3;
  }
}

.aux-nav {

  @include mq(lg) {
    padding-right: 0;
  }
}
