// see https://github.com/pmarsceill/just-the-docs/blob/master/_sass/layout.scss

.side-bar {

  @include mq(lg) {
    width: 0;
    min-width: $nav-width;
  }
}

.main {

  @include mq(lg) {
    width: 100%;
    max-width: calc(100% - #{$nav-width});
    margin-left: $nav-width;
  }
}
